<div class="container" ng-controller="buttonsController as btnCtrl">
        <a href="#/login" class="btn btn-default">Login</a>
        <a href="#/register" class="btn btn-default">Register</a>
        <a class="btn btn-default" ng-click="btnCtrl.logout()">Logut</a>
        <a href="#/movies" class="btn btn-default">Movies</a>
</div>

<h1>Movies</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="movie in movieCtrl.movies" >
            <td>{{movie.title}}</td>
            <td>{{movie.rating}}</td>
            <td><img ng-src="{{movie.img}}"></td>
        </tr>
    </tbody>
</table>